header{
    position: fixed;
    width: 100vw;
    z-index: 1000;
    transition: 0.5s;
}

.active-header{
    backdrop-filter: blur(10px);
    border-bottom: 1px solid red;
}

.header-container{
    display: flex;
    align-items: center;
}

.navigation{
    display: flex;
    gap: 1rem;
    padding: 0 2rem;
}

.navigation a{
    color: white;
    text-decoration: none;
}

.navigation a li{
    list-style: none;
    font-weight: bold;
    transition: 0.5s;
}
.navigation a li:hover{
    color: rgb(131, 131, 131);
}

.logo{
    width: 10rem;
}