*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primaryColor:#6a2929;
    --secundaryColor: #1f0f0f;
}

body, html{
    scroll-behavior: smooth;
    background-color: var(--primaryColor);
    font-family: sans-serif;
}

body::-webkit-scrollbar{
    width: 0.5rem;
    background-color: var(white);
    
}
body::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background-color: rgb(51, 51, 51); 
}